@typeparam TItem
@if (Items != null)
{
    <div class="col-10">
        <div class="table-wrapper-scroll-y my-custom-scrollbar">
            <table class="table table-bordered table-striped mb-0">
                <thead class="bg-light">
                    <tr>
                        @TableHeader
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Items)
                    {
                        <tr>
                            @RowTemplate(item)
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}

<br />

@code {
    [Parameter]
    public RenderFragment TableHeader { get; set; }

    [Parameter]
    public RenderFragment<TItem> RowTemplate { get; set; }

    [Parameter]
    public IReadOnlyList<TItem> Items { get; set; }
}
