@page "/recipes"
@inject IRecipeRepository recipeRepository

<h3>RecipeIndex</h3>

<div class="container">
    <div class="row col-3">
        <a href="/recipes/create" class="btn btn-primary">Create Recipe</a>
    </div>
</div>

@*@if (ListOfRecipes != null)
{
    <TableTemplate Items="ListOfRecipes">
        <TableHeader>
            <th>Id</th>
            <th>Name</th>
            <th>Details</th>
        </TableHeader>
        <RowTemplate Context="recipe">
            <tr>@recipe.Id</tr>
            <tr>@recipe.Name</tr>
            <tr>Details</tr>
        </RowTemplate>
    </TableTemplate>
}*@


@if (ListOfRecipes != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var recipe in ListOfRecipes)
            {
                <tr>@recipe.Id</tr>
                <tr>@recipe.Name</tr>
                <tr>Details</tr>
            }
        </tbody>
    </table>
}

@code {
    public List<RecipeDto> ListOfRecipes { get; set; } = new List<RecipeDto>();

    protected override async Task OnInitializedAsync()
    {
        ListOfRecipes = await recipeRepository.GetListOfRecipes();
    }
}
